<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer" class="footer fixed-bottom mt-auto py-2 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a th:href="@{/services}">Services</a>
            </div>
            <div class="col-sm">
                <a th:href="@{/about}">About</a>
            </div>
            <div class="col-sm">
                <a th:href="@{/contacts}">Contacts</a>
            </div>
        </div>
        <div  class=" row pt-2 justify-content-center">
        <span class="text-white"> &copy; 2024 Bikes-Shop &trade;</span>
        </div>
    </div>
</footer>

</body>
</html>