<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<body>
<ul>
    <li> <a th:href="@{/comments(size=3,page=0)}">Size 3</a></li>
    <li> <a th:href="@{/comments(size=6,page=0)}">Size 6</a></li>

</ul>
<h3>List of comments</h3>
<div th:each="comment:${comments}">Comments below
    <div><span>Comment id:</span>
        <th:block th:text="${comment.getId}"></th:block>
    </div>
    <div><span>Title:</span>
        <th:block th:text="${comment.getTitle}"></th:block>
    </div>

</div>

<nav aria-label="Page navigation">
    <ul class="pagination ">

        <!-- previous page -->

        <li class="page-item" th:classappend="${comments.isFirst() ? 'disabled' : ''}">
            <a th:if="${comments.isFirst()}" class="page-link" href="#" aria-label="First"><span
                    aria-hidden="true">Previous</span></a>
            <a th:unless="${comments.isFirst()}" class="page-link"
               th:href="@{/comments(size=${comments.size},page=${comments.getNumber()-1})}"
               aria-label="Previous"><span aria-hidden="true">Previous</span></a>
        </li>


        <!--loop pages -->
        <li class="page-item" th:classappend="${comments.getNumber()==page ? 'active' : '' }"
            th:each="page:${#numbers.sequence(0,comments.getTotalPages()-1)}"><a
                class="page-link" th:href="@{/comments(size=${comments.size},page=${page})}" th:text="${page}+1"></a>
        </li>
        <!-- next page -->
        <li class="page-item" th:classappend="${comments.isLast() ? 'disabled' : ''}">
            <a th:if="${comments.isLast()}" class="page-link" href="#" aria-label="Next"><span
                    aria-hidden="true">Next</span></a>
            <a th:unless="${comments.isLast()}" class="page-link"
               th:href="@{/comments(size=${comments.size},page=${comments.getNumber()+1})}"
               aria-label="Next"><span aria-hidden="true">Next</span></a>
        </li>
    </ul>
</nav>
</body>

</html>