<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>


<h1>rest of message</h1>
<form
        th:method="post"
        th:action="@{/}">
    <input type="text" th:name="name" >
    <input type="submit" value="submit">
</form>

<!--<div>old price</div>-->
<!--<th:block th:text="${#numbers.formatCurrency(oldPrice)}"> </th:block>-->
<!--<div>new price</div>-->
<!--<th:block th:text="${#numbers.formatCurrency(newPrice)}"></th:block>-->

<!--<select th:field="{type}">-->
<!--    <option th:each="type : ${allTypes}"-->
<!--            th:value="${type}"-->
<!--            th:text="#{${'seedstarter.type.' + type}}">Wireframe-->
<!--    </option>-->
<!--</select>-->

<!--<ul th:field="${@currentCurrency.name}">-->
<!--    <li th:each="c : ${listCurrencies}"-->
<!--        th:text="${c}"-->
<!--    ></li>-->
<!--</ul>-->

<!--<form tH:action="@{/}" th:method="post" id="formSubmit" modelAtrribute="currency"  >-->


<div><span>Value:</span><th:block th:text="${@currentCurrency.getName()}"> </th:block> </div>

    <script>

//    document.getElementById("formSubmit").addEventListener("change",
//     ({ target }) =>
//
//
//     target.form.submit());

    </script>
</body>
</html>