<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div>    <nav th:replace="~{fragments/navigation}"></nav></div>

<div class="container ">
    <div class="row text-center contacts">
        <div class="col  ">
           <h6>Comments:</h6>
            <div class="border border-primary m-2 col-6" th:each="comment:${allCommentDTO}" >
                <div th:text="${comment.title}"></div>
                <div th:text="${comment.body}"></div>
            </div>

        </div>

    </div>

</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>