<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container justify-content-center ">
    <div th:if="${onSuccess}"
         class="container text-center text-color w-25 p-3 border border-success-subtle border-5 rounded-1"
         th:text="${onSuccess}">
    </div>


    <div class=" w-50 m-auto text-center ">
        <h4 class="text-dark ">Welcome, Admin!</h4>
        <div class=" container text-center ">

            <form th:action="@{/admin}"
                  th:method="POST"
                  class="d-flex" role="search">

                <input class="form-control col-sm me-2" type="search"
                       th:name="personToSearch"
                       placeholder="Search for person by email, first name or last name"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <h4 class="col border-bottom">Search result:</h4>
            <div th:if="${listPeople}==null or ${listPeople.isEmpty()}">
                <p >Result is null</p>
            </div>

            <div th:if="${listPeople}!=null">
                <ul th:each="p:${listPeople}">
                    <li><a class="link-underline-info" th:href="@{/admin/update={id}(id=${p.email})}"
                           th:text="${T(java.lang.String).format(p.stringMessage,p.firstName(),p.lastName(),p.email())}"> </a>
                    </li>
                    <td></td>
                </ul>
            </div>


            <form id="admin-update-user-profile-form"
                  th:action="@{/admin/update={id}(id=${adminUpdateDTO.email})}"
                  th:method="POST"
                  th:object="${adminUpdateDTO}"
                  class="mx-auto col-md-12 flex-column justify-content-center ">


                <div class="form-group pt-3 py-2 border-top ">
                    <input id="role"
                           th:name="role"
                           th:errorclass="is-invalid "
                           type="text"
                           th:value="*{role}"
                           class="form-control"
                           placeholder="ROLE type*to fix with checks foa all 3 roles"/>
                    <label for="role" th:text="${adminUpdateDTO.role()}"></label>
                    <p th:if="${#fields.hasErrors('role')}" th:errors="*{role()}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>

                <div class="form-group    py-2 ">
                    <input id="firstName"
                           th:name="firstName"
                           th:errorclass="is-invalid "
                           type="text"
                           th:field="*{firstName}"
                           class="form-control"
                           placeholder="First name..."/>
                    <label for="firstName" th:text="${adminUpdateDTO.firstName()}"></label>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>


                <div class="form-group py-2">
                    <input id="lastName"
                           th:name="lastName"
                           th:errorclass="is-invalid "
                           type="text"
                           th:field="*{lastName}"
                           class="form-control"
                           placeholder="Last name..."/>
                    <label for="lastName" th:text="${adminUpdateDTO.lastName()}"></label>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>

                <div class="form-group py-2 ">
                    <input id="address"
                           th:name="address"
                           th:errorclass="is-invalid"
                           type="text"
                           th:field="*{address}"
                           class="form-control"
                           placeholder="Update address..."/>
                    <label for="address" th:text="${adminUpdateDTO.address()}"></label>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>
                <div class="form-group py-2 ">
                    <input id="country"
                           th:name="country"
                           th:errorclass="is-invalid"
                           type="text"
                           th:field="*{country}"
                           class="form-control"
                           placeholder="Update country..."/>
                    <label for="country" th:text="${adminUpdateDTO.country()}"></label>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{country}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>

                <div class="form-group      py-2">
                    <input id="email"
                           th:name="email"
                           th:errorclass="is-invalid"
                           type="text"
                           th:field="*{email}"
                           class="form-control"
                           placeholder="New email address..."/>
                    <label for="email" th:text="${adminUpdateDTO.email()}"></label>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>

                <div class="form-group        py-2">
                    <input id="newPassword"
                           th:name="newPassword"
                           th:errorclass="is-invalid"
                           type="password"
                           class="form-control"
                           placeholder="Enter new password..."/>
                    <label for="newPassword" th:text="${adminUpdateDTO.role()}"></label>
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                       class="invalid-feedback errors alert alert-danger"></p>
                </div>


                <div class="button-holder justify-content-center m-auto d-flex">

                    <input type="submit" class="btn btn-danger btn-block " value="Update profile"/>

                </div>


            </form>
        </div>


    </div>


</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>