<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class="main-container container justify-content-center ">
        <div class="row ">
            <div class="col-2 ">
                <div class="container bg-danger  " th:each="c:${categories}">
                    <a class="category-link  link-underline-opacity-0 " th:href="@{/{cat}(cat=${c})}">
                    <div class="" th:text="${c}" ></div>
                    </a>
                </div>

            </div>
            <div class="col-10 bg-dark text-center ">
                <div class="row row-cols-sm-3  ">
                    <div class="col" th:each="p:${products}">
                        <a class="product-link" th:href="@{/product/{pid}(pid=${p.id})}">
                            <div class="container">

                                <div><img th:src="@{${p.pictureURL}}" alt="image"
                                          class="img-thumbnail rounded " style="width: 200px, height: 200px;"></div>
                                <div th:text="${p.name}"></div>
                                <div th:text="${p.id}"></div>
                                <div th:text="${p.price}" >Price</div>
                            </div>
                        </a>
                    </div>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>