<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class=" container justify-content-center">
        <!--        <div class="container text-center text-color w-25 p-3 border border-success-subtle border-5 rounded-1"-->
        <!--             th:if="${@currentSessionMessage.isProductBought}">-->
        <!--            <span>Successfully bought product </span>-->
        <!--&lt;!&ndash;            <th:block th:text="${@singleProduct.name}"></th:block>&ndash;&gt;-->
        <!--            <span> ! Please go to order list to see your current order.</span>-->
        <!--        </div>-->


        <div class="row text-center ">

            <table class="border border-dark">
                <tr class="border border-dark">
                    <th>Item ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>

                <tr>
                    <td >1</td>
                    <td th:text="${@currentOrder.getProductName}"></td>
                    <td th:text="${@currentOrder.getProductPrice}"></td>
                    <td th:text="${@currentOrder.getQuantity}"></td>
                </tr>
            </table>
            <div><span> Total: </span>
                <th:block th:text="${p.price}"></th:block>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-dark " type="button" onclick="javascript:history.back()">Back</button>
        </div>

    </div>

</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>