<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class=" container  justify-content-center">

        <div class="row text-center ">
            <h3>Purchased orders:</h3>
            <div th:each="order,iO:${allOrders}" >
               Order number: <th:block  th:text="${iO.index+1}"></th:block>
                <table class=" mb-5  border border-dark mx-auto">
                    <tr class="border border-dark fw-bold">
                        <th>Item ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>

                    <tr class="border border-dark" th:each="item,iI:${order.items}">
                        <td th:text="${iI.index+1}"></td>
                        <td th:text="${item.getProductName}"></td>
                        <td th:text="${item.getPrice}"></td>
                        <td th:text="${item.getQuantity}"></td>
                        </td>
                    </tr>

                </table>
                <div>

            </div>
        </div>
        <div class="  py-2  text-center">
            <button class=" btn btn-dark " type="button" onclick="javascript:history.back()">Back</button>
        </div>


    </div>

</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>