<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class=" container justify-content-center">
        <div class="container text-center text-color w-25 p-3 border border-success-subtle border-5 rounded-1"
             th:if="${@currentSessionMessage.isProductBought}">
            <span>Successfully bought product </span>
            <!--            <th:block th:text="${@singleProduct.name}"></th:block>-->
            <span> ! Please go to order list to see your current order.</span>
        </div>


        <div class="container mx-auto">
                <div class="col-4 mx-auto  text-center"
                     th:object="${singleProduct}">
                    <h5  class="text-center"
                         th:text="*{name}">
                    </h5>
                    <div class="  py-2">
                        <img th:src="*{pictureURL}" alt="image" class="img-thumbnail rounded " style="width: 300px;">
                    </div>
                    <div class=" text-start py-2" th:text="*{description}"></th:block>
                    </div>
                    <div class="py-2"><span>Price: </span>
                        <th:block th:text="*{price}"></th:block>
                    </div>
                    <!--   Form Start -->
                    <form th:action="@{/product/{pid}(pid=${singleProduct.id})}"
                          th:method="POST"
                          id="buy-form"
                    >
                        <input  type="hidden" th:name="productId" th:value="${singleProduct.id}">

                        <input  type="hidden" th:name="productName" th:value="${singleProduct.name}" >

                            <label> Select quantity: </label>
                            <input  type="number" th:name="quantity" >


                        <input class="btn btn-danger" type="submit" value="Buy">

                    </form>


                </div>

                <div class=" justify-content-end">
                 <button class="btn btn-dark justify-end  float-right " type="button"
                        onclick="javascript:history.back()">Back
                </button>
                    <div >
            </div>

    </div>
</div>
</div>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>