<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class="container justify-content-center">
        <div class="col-sm">
            <div class="sidebar-categories-navigation">
                Sidebar
                <div>Bikes</div>
                <div>Clothes</div>
                <div>Clothes</div>
            </div>
        </div>
        <div class="col-md ">
            <!--            <div class="container text-center ">-->
            <div class="row row-cols-sm-3  ">
                <div class="col" th:object="${singleProduct}">
                    <div><img th:src="*{pictureURL}" alt="image" class="img-thumbnail rounded " style="width: 300px;"></div>
                    <div th:text="*{name}"></div>
                    <div th:text="*{price}">Price</div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>