<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class=" container justify-content-center">
        <div class="container text-center text-color w-25 p-3 border border-success-subtle border-5 rounded-1"
             th:if="${@currentSessionMessage.isProductBought}">
            <span>Successfully bought product </span>
<!--            <th:block th:text="${@singleProduct.name}"></th:block>-->
            <span> ! Please go to order list to see your current order.</span>
        </div>

        <div class="container text-center ">
            <div class="row-sm  ">
                <div class="col"     th:object="${singleProduct}">
                    <div><img th:src="*{pictureURL}" alt="image" class="img-thumbnail rounded " style="width: 300px;">
                    </div>

                    <div
                            th:text="*{name}"></div>
                    <div><span> </span>
                        <th:block th:text="*{description}"></th:block>
                    </div>
                    <div><span> Price: </span>
                        <th:block th:text="*{price}"></th:block>
                    </div>
                    <form   th:action="@{/product/{pid}(pid=*{id})}"
                            th:method="POST"
                   >
                        <input type="number" th:name="valueFromForm" th:value=2 >
                        <input class="btn btn-danger"  type="submit" value="Buy">
                    </form>


                </div>
                <button class="btn btn-dark " type="button" onclick="javascript:history.back()">Back</button>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>