<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>

<body>
<header class="header" >

        <ul class="nav mr-auto justify-content-end">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href ="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Login</a>
            </li>
        </ul>

</header>
<nav th:fragment="navbar"
     class="navbar navbar-expand-lg  navbar-dark ">
    <a class="navbar-brand" th:href="@{/}"><img alt="logo" src="/images/logo.png" class="logo"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-12 justify-content-between">
            <li class="nav-item"
            >
                <a class="nav-link">Test</a>
            </li>
            <li class="nav-item"
            >
                <a class="nav-link">Test</a>
            </li>
            <li class="nav-item"
            >
                <a class="nav-link">Test</a>
            </li>
            <!--                &lt;!&ndash;     Admin           &ndash;&gt;-->
            <!--                <li class="nav-item dropdown" >-->
            <!--                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"-->
            <!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                        Admin-->
            <!--                    </a>-->
            <!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--                        <a class="dropdown-item" th:href="@{/user/update}">Update User Role</a>-->
            <!--                        <a class="dropdown-item" href="/">Another action</a>-->
            <!--                        <div class="dropdown-divider"></div>-->
            <!--                        <a class="dropdown-item" href="/">Something else here</a>-->
            <!--                    </div>-->
            <!--                </li>-->
            <!--     EO: Admin           -->

            <!--     Logout  th:if="${@currentUser.isLogged()}   |Welcome, ${@currentUser.firstName}|      -->
            <!--                <li class="nav-item" sec:authorize="isAuthenticated()">-->
            <!--                    <div class="form-inline my-2 my-lg-0 border px-3">-->
            <!--                        <div class="logged-user">-->
            <!--                            Welcome, <th:block  sec:authentication="name"> </th:block> !</div>-->
            <!--                        <form th:method = "post" th:action = "@{/users/logout}">-->
            <!--                            <input type="submit" class="btn btn-dark btn-sm" value="Logout"/>-->

            <!--                        </form>-->

            <!--                    </div>-->
            <!--                </li>-->
            <!--     EO: Logout           -->

            <!--     Register           -->
            <li class="nav-item">
                <a class="nav-link">Register</a>
            </li>
            <!--     EO:Register           -->

            <!--     Login           -->
            <li class="nav-item">
                <a class="nav-link">Login</a>
            </li>
            <!--     EO: Login           -->

        </ul>
        <!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
        <!--                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--                <span class="navbar-toggler-icon"></span>-->
        <!--            </button>-->

    </div>

</nav>


</body>
</html>