<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Comments Server</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
<!--    <meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container justify-content-center mx-auto">-->
<!--<h1 >Hello commenter</h1>-->
<!--<div class="border border-primary m-2 col-6" th:each="comment:${comments}" >-->
<!--        <div th:text="${comment.title}"></div>-->
<!--    <div th:text="${comment.body}"></div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->