<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column" th:each="b:${brands}">
            <h2>Car brand:
                <span th:text="${b.name}">Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="m:${b.models}">
                        <td th:text="${m.id}">No</td>
                        <td th:text="${m.name}">Model Name</td>
                        <td>Car</td>
                        <td th:text="${m.startYear}">Model Start Year</td>
                        <td th:text="${m.endYear}">Model End Year</td>
                        <td ><div><img th:src="@{${m.imageUrl}}" alt="image"  class="img-thumbnail rounded">  </div>
                                     </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
